<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Portfolio Watcher</title>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper" style="background-color: #216c2a;">
        <a href="#" class="brand-logo" style="padding-left: 15px">Portfolio Watcher</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="parallax-container">
      <div class="parallax"><img src="http://i.huffpost.com/gen/2938070/images/o-DATA-facebook.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Portfolio Watcher</h2>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/77/9e/10/wall-street.jpg"></div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
