{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s6">
    <div id="outer-box-2" class="container" style="background-color: rgba(33,60,42, 0.8);">
      <div id="inner-box-2" class="container">
        <h3 style="color: white">Transactions:</h2>
        {% for transaction in user_transactions %}
          <div class="row">
            <h5 class="left col s8" style="color: white"> {{ "{}({}) - {} Shares @ {}".format(transaction[1].upper(), transaction[2].upper(), transaction[3], transaction[4]) }} </h4>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col s6">
    <div id="outer-box-2" class="container" style="background-color: rgba(33,60,42, 0.8); margin-top: 30%">
      <div id="inner-box-2" class="container">
        <h3 style="color: white">Cash: ${{ user_cash_amount }}</h2>
        <form name="transactions" action="/transactions" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input name="ticker" id="ticker" type="text" class="validate form-control" style="color: white" required>
              <label for="ticker">Ticker</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="quantity" id="quantity" type="number" class="validate form-control" style="color: white" required>
              <label for="quantity">Quantity</label>
            </div>
          </div>
          <div class="row">
            <p class="col s6">
              <label>
                <input name="type" value="buy" type="radio" checked />
                <span>Buy</span>
              </label>
            </p>
            <p class="col s6">
              <label>
                <input name="type" value="sell" type="radio" />
                <span>Sell</span>
              </label>
            </p>
          </div>
          <div class="row">
            <div class="col s8">
            </div>
            <div class="button col s4">
              <button class="form-group btn waves-effect waves-light" type="submit" name="action">Order
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
